@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

:root{
    /* Fuentes */
    --font-Edu: "Edu NSW ACT Foundation", cursive;

    /* colores */
    --color-white: #FFFFFF;
    --color-grey: #DDDDDD;
    --color-lightgrey-5 : #F3F5F8;
    --color-dark: #272727;
    --color-main-blue : #1E3D73;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 17px;
}

html{
    height: 100%;
}

main{
    padding-top: 2rem;
    min-height: 88vh;
}

.content-descript1{
    font-size: 25px;
}

.title1{
    text-align: center;
    font-size: 35px;
}

.title-product-card{
    text-align: center;
}

.price-product-card{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #44945c;
}